<ion-view view-title="סידור עבודה" dir="rtl">
  <ion-content>
   
    <ion-list>
<label class="item item-input">
  <span class="input-label" >תאריך</span>
  <input type="date" ng-model="datepaln">
</label>

<br>
        <div class="row header">
          <div class="col">אסמכתא</div>
          <div class="col">שעת התייצבות</div>
          <div class="col">ספק</div>
        </div>
        <div class="row" ng-repeat="data in plans">
        <div class="col">{{data.num_hzm}}</div>
        <div class="col">{{data.time}}</div>
        <div class="col">{{data.sapak}}</div>
        </div>
      <!--<ion-item ng-repeat="order in orders" href="#/app/orders/{{order.id}}">
        {{order.title}}
      </ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
