.LogIn {
    background-image :  url("../img/nkr0qbaku4s-robson-hatsukami-morgan.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.button.button-block.button-positive {
    background-color: #37474F ;
}

.Logo {
    width: 40px;
    height: 40px;
    float : left !important;
}

.scroll-content {
        overflow:hidden;
}
<<<<<<< HEAD
/*table*/

=======

.ionic_ratings .icon {
    font-size: 50px;
  }
>>>>>>> 635c47dcafd49b2416d7dde41cbaf90c3b0b81b1
